<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Profile</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="header" th:include="page :: header"></div>

    <div id="content">
      <h1>Your Profile</h1>
      <form action="#" th:action="@{/profile/{username}(username=${profile.username})}" th:object="${profile}" method="post">
        <input type="hidden" name="username" th:value="${profile.username}" /> <br/>
        <input type="text" name="username" th:value="${profile.username}" disabled="disabled" /> <br/>
        <input type="text" name="firstName" th:value="${profile.firstName}" /> <br/>
        <input type="text" name="lastName" th:value="${profile.lastName}" /> <br/>
        <input type="text" name="email" th:value="${profile.email}" /> <br/>
        <input type="submit" class="btn btn-primary" value="Update Profile" />
      </form>
      <span th:text="${profile.username}">username</span><br/>
      <span th:text="${profile.firstName}">First</span> <span th:text="${profile.lastName}">Last</span><br/>
      <span th:text="${profile.email}">email</span>
    </div>
    <div>
      <p th:if="${imageMessage} != null" th:text="${imageMessage}"></p>
      <p><img th:width="500" src="abc.png" th:attr="src=@{${'/profile/' +profile.username + '/image.jpg'}},alt=${profile.username}" /></p>
      <form action="#" th:action="@{/profile/upload/{username}(username=${profile.username})}"
            th:object="${profile}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" /><br/>
        <input type="submit" value="Submit" />
      </form>

    </div>

    <div id="footer" th:include="page :: copy"></div>
  </body>
</html>
